.container {
  width: 100%;
  height: 100vh;
  background-color: #fbfbfb;

  .title {
    margin-bottom: 1rem;
    color: #06D755;
    font-weight: 600;
    font-size: 2.8rem;
    line-height: 1.23;
  }


  .image {
    max-width: 350px;
    width: 100%;
  }

}